.feature.pd5
    .container
        .info
            .title#title
                h2 Featured Items
                p A perfect blend of creativity, energy, communication, happiness and love. Let us arrange a smile for you.
            .chose 
                ul 
                    li
                        a#new.active(href="#title") New
                    li
                        a#feature(href="#title") Feature
                    li
                        a#best(href="#title") Best Seller
            #tab1.feature-product.owl-carousel.owl-theme 
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-1.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-2.jpg", alt="")
                            span.discount -35%
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-4.jpg", alt="")
                            span.soldout Soldout
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00    
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-5.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-6.jpg", alt="")
                            span.discount -35%
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-7.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-8.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-9.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-1.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-2.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                        .product
                            .image
                                figure
                                    img(src="./image/product-4.jpg", alt="")
                                
                                .icon
                                    ul
                                        li
                                            a(href="cart.html")
                                                i.fas.fa-briefcase 
                                        li
                                            a(href="compare.html")
                                                i.fas.fa-sliders-h
                                        li
                                            a(href="wishlist")
                                                i.fas.fa-heart
                                        li
                                            a(href="#")
                                                i.fas.fa-eye
                            .product-content
                                .vote
                                    ul
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                .name
                                    h4
                                        a(href="#") Sweet Alyssum
                                .price
                                    span.new $50.00
                                    span.old $50.00 
                        .product
                            .image
                                figure
                                    img(src="./image/product-5.jpg", alt="")
                                
                                .icon
                                    ul
                                        li
                                            a(href="cart.html")
                                                i.fas.fa-briefcase 
                                        li
                                            a(href="compare.html")
                                                i.fas.fa-sliders-h
                                        li
                                            a(href="wishlist")
                                                i.fas.fa-heart
                                        li
                                            a(href="#")
                                                i.fas.fa-eye
                            .product-content
                                .vote
                                    ul
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                .name
                                    h4
                                        a(href="#") Sweet Alyssum
                                .price
                                    span.new $50.00
                                    span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-6.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-7.jpg", alt="")
                            span.soldout Soldout
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-8.jpg", alt="")
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-9.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
            #tab2.none.feature-product.owl-carousel.owl-theme 
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-4.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-5.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-6.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00    
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-7.jpg", alt="")
                            
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-8.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-9.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-1.jpg", alt="")
                            span.soldout Soldout
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-2.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-4.jpg", alt="")
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-5.jpg", alt="")
                            span.soldout Soldout
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                        .product
                            .image
                                figure
                                    img(src="./image/product-6.jpg", alt="")
                                span.discount -35%
                                .icon
                                    ul
                                        li
                                            a(href="cart.html")
                                                i.fas.fa-briefcase 
                                        li
                                            a(href="compare.html")
                                                i.fas.fa-sliders-h
                                        li
                                            a(href="wishlist")
                                                i.fas.fa-heart
                                        li
                                            a(href="#")
                                                i.fas.fa-eye
                            .product-content
                                .vote
                                    ul
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                .name
                                    h4
                                        a(href="#") Sweet Alyssum
                                .price
                                    span.new $50.00
                                    span.old $50.00 
                        .product
                            .image
                                figure
                                    img(src="./image/product-7.jpg", alt="")
                                
                                .icon
                                    ul
                                        li
                                            a(href="cart.html")
                                                i.fas.fa-briefcase 
                                        li
                                            a(href="compare.html")
                                                i.fas.fa-sliders-h
                                        li
                                            a(href="wishlist")
                                                i.fas.fa-heart
                                        li
                                            a(href="#")
                                                i.fas.fa-eye
                            .product-content
                                .vote
                                    ul
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                .name
                                    h4
                                        a(href="#") Sweet Alyssum
                                .price
                                    span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-8.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-9.jpg", alt="")
                            span.soldout Soldout
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
            #tab3.none.feature-product.owl-carousel.owl-theme 
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-1.jpg", alt="")
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-2.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-4.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00    
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-5.jpg", alt="")
                            
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-6.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-7.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-8.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-9.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-1.jpg", alt="")
                            span.discount -35%
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-2.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                .product-new
                        .product
                            .image
                                figure
                                    img(src="./image/product-4.jpg", alt="")
                                
                                .icon
                                    ul
                                        li
                                            a(href="cart.html")
                                                i.fas.fa-briefcase 
                                        li
                                            a(href="compare.html")
                                                i.fas.fa-sliders-h
                                        li
                                            a(href="wishlist")
                                                i.fas.fa-heart
                                        li
                                            a(href="#")
                                                i.fas.fa-eye
                            .product-content
                                .vote
                                    ul
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                .name
                                    h4
                                        a(href="#") Sweet Alyssum
                                .price
                                    span.new $50.00
                                    span.old $50.00 
                        .product
                            .image
                                figure
                                    img(src="./image/product-5.jpg", alt="")
                                span.discount -35%
                                
                                .icon
                                    ul
                                        li
                                            a(href="cart.html")
                                                i.fas.fa-briefcase 
                                        li
                                            a(href="compare.html")
                                                i.fas.fa-sliders-h
                                        li
                                            a(href="wishlist")
                                                i.fas.fa-heart
                                        li
                                            a(href="#")
                                                i.fas.fa-eye
                            .product-content
                                .vote
                                    ul
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                        li
                                            i.fas.fa-star
                                .name
                                    h4
                                        a(href="#") Sweet Alyssum
                                .price
                                    span.new $50.00
                                span.old $50.00
                .product-new
                    .product
                        .image
                            figure
                                img(src="./image/product-6.jpg", alt="")
                            span.discount -35%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .product
                        .image
                            figure
                                img(src="./image/product-7.jpg", alt="")
                            span.soldout Soldout
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00
                     
script.
    $('#new').click(function(){
        $('#new').addClass('active');
        $('#feature').removeClass('active');
        $('#best').removeClass('active');
        $('#tab1').removeClass('none');
        $('#tab2').addClass('none');
        $('#tab3').addClass('none');
    })
     $('#feature').click(function(){
        $('#feature').addClass('active');
        $('#new').removeClass('active');
        $('#best').removeClass('active');
         $('#tab2').removeClass('none');
        $('#tab1').addClass('none');
        $('#tab3').addClass('none');
    })
     $('#best').click(function(){
        $('#best').addClass('active');
        $('#feature').removeClass('active');
        $('#new').removeClass('active');
        $('#tab3').removeClass('none');
        $('#tab2').addClass('none');
        $('#tab1').addClass('none');
    })
    $(document).ready(function(){
        $('.feature-product').owlCarousel({
            nav: true,
            loop: true,
            responsive: {
                1000: {
                    items: 4
                },
                768: {
                    items: 3
                },
                480: {
                    items: 1
                },
                0: {
                    items: 1
                }
            }
        })
    })