.new.pd-top
    .container
        .info
            .title
                h2 Related Product
                p A perffect blend of  creativity, energy, communtication, happiness and love . Let Us arrange a smile for you.
            .new-product.owl-carousel.owl-theme
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-1.jpg", alt="")
                        span.soldout Soldout
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-2.jpg", alt="")
                        
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-3.jpg", alt="")
                        
                        span.discount -34%
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-4.jpg", alt="")
                        
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                        .countdown
                            .single-count
                                span.count 00
                                p Days
                            .single-count
                                span.count 00
                                p Hour
                            .single-count
                                span.count 00
                                p Min
                            .single-count
                                span.count 00
                                p Sec

                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-5.jpg", alt="")
                        
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-6.jpg", alt="")
                        
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-7.jpg", alt="")
                        
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-8.jpg", alt="")
                        
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 
                .product
                    .image(style="cursor: pointer")
                        figure
                            a(href="#")
                                img(src="./image/product-9.jpg", alt="")
                        span.soldout Soldout
                        .icon
                            ul
                                li
                                    a(href="cart.html")
                                        i.fas.fa-briefcase 
                                li
                                    a(href="compare.html")
                                        i.fas.fa-sliders-h
                                li
                                    a(href="wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#")
                                        i.fas.fa-eye
                    .product-content
                        .vote
                            ul
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                                li
                                    i.fas.fa-star
                        .name
                            h4
                                a(href="#") Sweet Alyssum
                        .price
                            span.new $50.00
                            span.old $50.00 

script.
    $(document).ready(function(){
        $('.new-product').owlCarousel({
            nav: true,
            loop: true,
            responsive: {
                1000: {
                    items: 4
                },
                768: {
                    items: 3
                },
                480: {
                    items: 1
                },
                0: {
                    items: 1
                }
            }
        })
    })




