.logo
    .container
        .logo-slide.owl-carousel.owl-theme
            .single-logo
                .image
                    a(href="#")
                        img(src="./image/brand-1.jpg", alt="")
            .single-logo
                .image
                    a(href="#")
                        img(src="./image/brand-2.jpg", alt="")
            .single-logo
                .image
                    a(href="#")
                        img(src="./image/brand-3.jpg", alt="")
            .single-logo
                .image
                    a(href="#")
                        img(src="./image/brand-4.jpg", alt="")
            .single-logo
                .image
                    a(href="#")
                        img(src="./image/brand-5.jpg", alt="")
            .single-logo
                .image
                    a(href="#")
                        img(src="./image/brand-6.jpg", alt="")
script.
    $(document).ready(function(){
        $('.logo-slide').owlCarousel({
            nav:false,
            loop:true,
            responsive: {
                1000: {
                    items: 6
                },
                768: {
                    items:5
                },
                480: {
                    items:2
                },
                0: {
                    items:2
                }
            }
        })
    })
                