.blog.pd5
    .container
        .title
            h2 From Our Blog
            p A perfect blend of creativity, energy, communication, happiness and love. Let us arrange a smile for you.
        .blog-slide.owl-carousel.owl-theme
            .single-blog
                .blog-image
                    a(href="#")
                        img(src="./image/blog-01.jpg", alt="")
                .blog-content
                    h4.title
                        a(href="#") Flower Beauty
                    p 
                        | By
                        span  Shopify Team HasTheme / August 12, 2020
                    .blog-info
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...
                    .blog-footer
                        a(href="#") Continute Reading
                        p.comment-count
                            i.far.fa-comment
                            | 0
            .single-blog
                .blog-image
                    a(href="#")
                        img(src="./image/blog-02.jpg", alt="")
                .blog-content
                    h4.title
                        a(href="#") Flower Florists
                    p 
                        | By
                        span  Shopify Team HasTheme / August 12, 2020
                    .blog-info
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...
                    .blog-footer
                        a(href="#") Continute Reading
                        p.comment-count
                            i.far.fa-comment
                            | 0
            .single-blog
                .blog-image
                    a(href="#")
                        img(src="./image/blog-03.jpg", alt="")
                .blog-content
                    h4.title
                        a(href="#") Flower Power
                    p 
                        | By
                        span  Shopify Team HasTheme / August 12, 2020
                    .blog-info
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...
                    .blog-footer
                        a(href="#") Continute Reading
                        p.comment-count
                            i.far.fa-comment
                            | 0
            .single-blog
                .blog-image
                    a(href="#")
                        img(src="./image/blog-01.jpg", alt="")
                .blog-content
                    h4.title
                        a(href="#") Flower Beauty
                    p 
                        | By
                        span  Shopify Team HasTheme / August 12, 2020
                    .blog-info
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...
                    .blog-footer
                        a(href="#") Continute Reading
                        p.comment-count
                            i.far.fa-comment
                            | 0
            .single-blog
                .blog-image
                    a(href="#")
                        img(src="./image/blog-02.jpg", alt="")
                .blog-content
                    h4.title
                        a(href="#") Flower Florists
                    p 
                        | By
                        span  Shopify Team HasTheme / August 12, 2020
                    .blog-info
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...
                    .blog-footer
                        a(href="#") Continute Reading
                        p.comment-count
                            i.far.fa-comment
                            | 0
            .single-blog
                .blog-image
                    a(href="#")
                        img(src="./image/blog-03.jpg", alt="")
                .blog-content
                    h4.title
                        a(href="#") Flower Power
                    p 
                        | By
                        span  Shopify Team HasTheme / August 12, 2020
                    .blog-info
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...
                    .blog-footer
                        a(href="#") Continute Reading
                        p.comment-count
                            i.far.fa-comment
                            | 0
script.
    $(document).ready(function(){
        $('.blog-slide').owlCarousel({
            nav:true,
            loop:true,
            responsive: {
                1000: {
                    items: 3
                },
                768: {
                    items:2
                },
                480: {
                    items:1
                },
                0: {
                    items:1
                }
            }
        })
    })